.version.index /* version checker */
{
	color: #00000A;
	background-color: #74BF03;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 429.85000000000036px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 8px 20px 62.149999999999636px;
}

#menuu824
{
	z-index: 2;
	width: 920px;
	position: relative;
}

#u846
{
	width: 129px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
}

#u849
{
	width: 129px;
	padding-bottom: 37px;
	position: relative;
}

#u849:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u849:active
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u825
{
	width: 129px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u826
{
	width: 129px;
	padding-bottom: 37px;
	position: relative;
}

#u849.MuseMenuActive,#u826:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u826:active
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u826.MuseMenuActive
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u850,#u828
{
	height: 17px;
	width: 129px;
	position: relative;
	margin-right: -10000px;
	top: 18px;
}

#u873
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

#u874
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u874:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u874:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u866
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u867
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u874.MuseMenuActive,#u867:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u867:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u8939
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u8942
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u867.MuseMenuActive,#u8942:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u8942:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u832
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 658px;
}

#u835
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u8942.MuseMenuActive,#u835:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u835:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u839
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 790px;
}

#u842
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u835.MuseMenuActive,#u842:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u842:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u842.MuseMenuActive
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u877,#u869,#u8945,#u838,#u845
{
	height: 17px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	top: 18px;
}

#pu1339
{
	width: 0.01px;
}

#u1339
{
	z-index: 38;
	width: 920px;
	position: relative;
	margin-right: -10000px;
}

#u890
{
	z-index: 40;
	width: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 446px;
}

#u890_img
{
	padding-bottom: 1px;
}

#u1749-3
{
	z-index: 49;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 488px;
	left: 149px;
}

#accordionu1653
{
	z-index: 52;
	width: 385px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 499px;
}

#u1658
{
	z-index: 53;
	width: 385px;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u1659-4
{
	z-index: 54;
	width: 373px;
	min-height: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1659-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 373px;
	margin: 0px;
}

#u1659-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 373px;
	margin: 0px;
}

#u1659-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 373px;
	margin: 0px;
}

#u1660
{
	z-index: 58;
	width: 383px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
}

#u1661-4
{
	z-index: 59;
	width: 340px;
	min-height: 105px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 9px;
}

#u1771
{
	z-index: 63;
	width: 268px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 60px;
}

#u1662
{
	z-index: 65;
	width: 385px;
	background-color: transparent;
	position: relative;
}

#u1663-5
{
	z-index: 66;
	width: 373px;
	min-height: 28px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1663-5:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 28px;
	width: 373px;
	margin: 0px;
}

#u1663-5:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 28px;
	width: 373px;
	margin: 0px;
}

#u1663-5.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 28px;
	width: 373px;
	margin: 0px;
}

#u1664
{
	z-index: 71;
	width: 383px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u1664_position_content
{
	margin-top: -1px;
	padding-bottom: 12px;
	width: 100%;
}

#pu1665-4
{
	width: 0.01px;
	margin-left: 8px;
}

#u1665-4
{
	z-index: 72;
	width: 340px;
	min-height: 105px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1776
{
	z-index: 79;
	width: 373px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
}

#u1750-3
{
	z-index: 76;
	width: 5px;
	background-color: transparent;
	margin-left: 179px;
	margin-top: 18px;
	position: relative;
}

#u1751
{
	z-index: 81;
	width: 385px;
	background-color: transparent;
	position: relative;
}

#u1752-4
{
	z-index: 82;
	width: 373px;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1752-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 373px;
	margin: 0px;
}

#u1752-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 373px;
	margin: 0px;
}

#u1752-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 373px;
	margin: 0px;
}

#u1659-4.AccordionPanelTabOpen p,#u1663-5.AccordionPanelTabOpen p,#u1752-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u1753
{
	z-index: 86;
	width: 383px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 20px;
	position: relative;
}

#u1657-4
{
	z-index: 87;
	width: 340px;
	min-height: 105px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 14px;
}

#u1781
{
	z-index: 91;
	width: 362px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 21px;
}

#u1781_img
{
	margin-left: -21px;
	margin-right: 21px;
}

#slideshowu1347
{
	z-index: 93;
	width: 0.01px;
	height: 439px;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 33px;
}

#u1364
{
	position: absolute;
	width: 456px;
	height: 399px;
	background-color: transparent;
}

#u1364popup
{
	z-index: 94;
}

#u1365
{
	z-index: 95;
	width: 456px;
	height: 399px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1520
{
	z-index: 97;
	width: 456px;
	height: 399px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1529
{
	z-index: 99;
	width: 456px;
	height: 399px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1538
{
	z-index: 101;
	width: 456px;
	height: 399px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1547
{
	z-index: 103;
	width: 456px;
	height: 399px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1365_img,#u1520_img,#u1529_img,#u1538_img,#u1547_img
{
	margin-top: -28px;
	margin-bottom: -29px;
}

#u1348
{
	position: absolute;
	width: 329px;
	background-color: transparent;
	top: 399px;
}

#u1348popup
{
	z-index: 105;
}

#u1350-4
{
	z-index: 106;
	width: 309px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1526-4
{
	z-index: 110;
	width: 309px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1535-4
{
	z-index: 114;
	width: 309px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1544-4
{
	z-index: 118;
	width: 309px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1553-4
{
	z-index: 122;
	width: 309px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1394-4
{
	position: absolute;
	width: 53px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 399px;
	left: 352px;
}

#u1394-4popup
{
	z-index: 126;
}

#u1353-4
{
	position: absolute;
	width: 5px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 399px;
	left: 328px;
}

#u1353-4popup
{
	z-index: 130;
}

#u1394,#u1353
{
	color: #999999;
}

#u1395-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 399px;
	left: 425px;
}

#u1395-4popup
{
	z-index: 134;
}

.AccordionPanelTab,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* accordion */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u8798-4
{
	z-index: 199;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 42px;
}

#u8802-4
{
	z-index: 203;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 546px;
}

#pu1845-3
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 5px;
}

#u1845-3
{
	z-index: 42;
	width: 852px;
	min-height: 918px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.85);
	position: relative;
	margin-right: -10000px;
	left: 6px;
	-pie-background: rgba(255,255,255,0.85);
}

#u1335-4
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 61px;
}

#u1827-12
{
	z-index: 138;
	width: 300px;
	min-height: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 25px;
}

#u1827-2
{
	font-size: 18px;
	line-height: 22px;
	color: #2D7E69;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
}

#u1829-3
{
	z-index: 150;
	width: 20px;
	min-height: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 5px;
}

#u1830-3
{
	z-index: 153;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
}

#u1831
{
	z-index: 156;
	width: 824px;
	height: 4px;
	border-width: 0px;
	border-color: transparent;
	background-color: #44AC92;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 20px;
}

#u1834-15
{
	z-index: 157;
	width: 329px;
	min-height: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 471px;
}

#u1834,#u1834-2
{
	color: #44AC92;
	font-weight: bold;
}

#u1834-4
{
	font-size: 24px;
	line-height: 29px;
	color: #44AC92;
	font-weight: bold;
}

#u1834-7
{
	font-size: 14px;
	font-weight: normal;
}

#u1834-12
{
	font-size: 18px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1834-8
{
	font-size: 14px;
	line-height: 17px;
}

#u1834-9,#u1834-10
{
	line-height: 22px;
}

#u1846-12
{
	z-index: 172;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 463px;
	left: 25px;
}

#u1834-5,#u1846-10
{
	font-size: 18px;
	line-height: 22px;
}

#u1851-13
{
	z-index: 184;
	width: 310px;
	min-height: 166px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 479px;
	left: 456px;
}

#u1846-2,#u1851-2
{
	font-size: 18px;
	line-height: 22px;
	color: #44AC92;
	font-weight: bold;
}

#u1827-9,#u1851-11
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1827-6,#u1851-8
{
	line-height: 17px;
}

#u1827-7,#u1851-9
{
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
}

#u1858
{
	z-index: 197;
	width: 350px;
	min-height: 186px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 704px;
	left: 409px;
}

#u1860
{
	z-index: 198;
	width: 290px;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 704px;
	left: 41px;
}

.html
{
	background: #7F7F7F url("../images/2012-nba-playoffs-stars-1920x1080-wallpaper-basketwallpaperscom-.jpg") no-repeat center center scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

