.version.jugadores /* version checker */
{
	color: #000005;
	background-color: #E915B8;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 429.9999999999991px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 8px 20px 62.00000000000091px;
}

#menuu824
{
	z-index: 2;
	width: 920px;
	position: relative;
}

#u846
{
	width: 129px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
}

#u849
{
	width: 129px;
	padding-bottom: 37px;
	position: relative;
}

#u849:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u849:active
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u825
{
	width: 129px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u826
{
	width: 129px;
	padding-bottom: 37px;
	position: relative;
}

#u849.MuseMenuActive,#u826:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u826:active
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u826.MuseMenuActive
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u850,#u828
{
	height: 17px;
	width: 129px;
	position: relative;
	margin-right: -10000px;
	top: 18px;
}

#u873
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

#u874
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u874:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u874:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u866
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u867
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u874.MuseMenuActive,#u867:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u867:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u8939
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u8942
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u867.MuseMenuActive,#u8942:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u8942:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u832
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 658px;
}

#u835
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u8942.MuseMenuActive,#u835:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u835:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u839
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 790px;
}

#u842
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u835.MuseMenuActive,#u842:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u842:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u842.MuseMenuActive
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u877,#u869,#u8945,#u838,#u845
{
	height: 17px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	top: 18px;
}

#pu1339
{
	width: 0.01px;
}

#u1339
{
	z-index: 38;
	width: 920px;
	position: relative;
	margin-right: -10000px;
}

#u890
{
	z-index: 40;
	width: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 446px;
}

#u890_img
{
	padding-bottom: 1px;
}

#u8966
{
	z-index: 42;
	width: 794px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.72);
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 43px;
	padding: 20px 18px 74px 20px;
	-pie-background: rgba(255,255,255,0.72);
}

#u8973
{
	z-index: 43;
	width: 794px;
	min-height: 588px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9094
{
	z-index: 52;
	width: 381px;
	height: 213px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 2000px;
	min-width: 300px;
	margin-left: 16px;
	margin-top: 57px;
	position: relative;
}

#u8977-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 29px;
}

#u8986-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 535px;
}

.html
{
	background: #7F7F7F url("../images/2012-nba-playoffs-stars-1920x1080-wallpaper-basketwallpaperscom-.jpg") no-repeat center center scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

