.version.videos /* version checker */
{
	color: #000011;
	background-color: #B20CC5;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 430px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 8px 20px 62px;
}

#menuu824
{
	z-index: 2;
	width: 920px;
	position: relative;
}

#u846
{
	width: 129px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
}

#u849
{
	width: 129px;
	padding-bottom: 37px;
	position: relative;
}

#u849:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u849:active
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u825
{
	width: 129px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u826
{
	width: 129px;
	padding-bottom: 37px;
	position: relative;
}

#u849.MuseMenuActive,#u826:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u826:active
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u826.MuseMenuActive
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u850,#u828
{
	height: 17px;
	width: 129px;
	position: relative;
	margin-right: -10000px;
	top: 18px;
}

#u873
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

#u874
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u874:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u874:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u866
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u867
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u874.MuseMenuActive,#u867:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u867:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u8939
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u8942
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u867.MuseMenuActive,#u8942:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u8942:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u832
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 658px;
}

#u835
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u8942.MuseMenuActive,#u835:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u835:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u839
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 790px;
}

#u842
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u835.MuseMenuActive,#u842:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u842:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u842.MuseMenuActive
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u877,#u869,#u8945,#u838,#u845
{
	height: 17px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	top: 18px;
}

#pu1339
{
	width: 0.01px;
}

#u1339
{
	z-index: 38;
	width: 920px;
	position: relative;
	margin-right: -10000px;
}

#u890
{
	z-index: 40;
	width: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 446px;
}

#u890_img
{
	padding-bottom: 1px;
}

#u8755
{
	z-index: 42;
	width: 846px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.72);
	position: relative;
	margin-right: -10000px;
	margin-top: 136px;
	left: 37px;
	-pie-background: rgba(255,255,255,0.72);
}

#u8755_position_content
{
	padding-top: 40px;
	padding-bottom: 46px;
	width: 100%;
}

#u8791-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	margin-left: 188px;
	position: relative;
}

#u8767
{
	z-index: 43;
	width: 780px;
	min-height: 420px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 117px;
	margin-top: 45px;
	position: relative;
}

#u8771
{
	z-index: 44;
	width: 608px;
	min-height: 484px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 117px;
	margin-top: 28px;
	position: relative;
}

#u8775
{
	z-index: 45;
	width: 600px;
	min-height: 454px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 117px;
	margin-top: 29px;
	position: relative;
}

#u8779
{
	z-index: 46;
	width: 600px;
	min-height: 454px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 117px;
	margin-top: 23px;
	position: relative;
}

#u8783
{
	z-index: 47;
	width: 600px;
	min-height: 454px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 117px;
	margin-top: 23px;
	position: relative;
}

#u8787
{
	z-index: 48;
	width: 600px;
	min-height: 454px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 117px;
	margin-top: 26px;
	position: relative;
}

#u9104
{
	z-index: 61;
	width: 357px;
	height: 217px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 2000px;
	min-width: 300px;
	margin-left: 36px;
	margin-top: 34px;
	position: relative;
}

#u8805-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 72px;
}

#u8811-4
{
	z-index: 57;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 575px;
}

.html
{
	background: #7F7F7F url("../images/2012-nba-playoffs-stars-1920x1080-wallpaper-basketwallpaperscom-.jpg") no-repeat center center scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

